<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>html</servlet-name>
        <jsp-file>/html.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>html</servlet-name>
        <url-pattern>/html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>html</servlet-name>
        <url-pattern>/html/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
</web-app>
